<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://www.cars.com/signin/" type="image/jpeg" rel="shortcut icon" />
  <title>Add</title>
  <link href="https://www.cars.com/signin/" type="image/jpeg" rel="shortcut icon" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div class="global-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <header class="header-menu">
            <a class="header-logo" href="/car">
              <img alt="Cars.com" class="header-logo header-logo__img"
                src="https://www.cars.com/images/logo_cars-46214ae902ff93ba8fa2e40fb73dfa02.png?vsn=d" />
            </a>

            <nav class="navbar navbar-expand-sm navbar-light">
              <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav header-links-wrapper">
                    <li class="header-link">
                      <a href="#">Cars for Sale</a>
                    </li>
                    <li class="header-link">
                      <a href="#">Research &amp; Reviews</a>
                    </li>
                    <li class="header-link">
                      <a href="#">News &amp; Videos</a>
                    </li>
                    <li class="header-link">
                      <a href="#">Sell Your Car</a>
                    </li>
                    <li class="header-link">
                      <a href="#">Service &amp; Repair</a>
                    </li>
                    <a href="/logout" class="ahref">
                      <li class="header-link logout">
                        Sign out
                      </li>
                    </a>
                  </ul>
                </div>
                <div id="google-one-tap">
                  <div id="g_id_onload"
                    data-client_id="67273791563-90cd8jqav0pgefmmb4l5732bguvbjapi.apps.googleusercontent.com"
                    data-login_uri="/signin/google_callback/"
                    data-redirect_path="/signin/?redirect_event%5Bsocial_platform%5D=google"
                    data-moment_callback="trackGoogleOneTap"></div>
                </div>
              </div>
            </nav>
          </header>
        </div>
        <div class="col-sm-2 pr0"></div>
        <div class="col-sm-8">
          <form action="/addCar" method="post">
            <h2 class="add"> Add Car</h2>
            <div class="row">
              <div class="col-sm-2 pr0">
                <label for="user" class="m10 p7">Car Condition<span class="red"> *</span></label>
              </div>
              <div class="col-sm-9">
                <!-- <input type="text" name="condition" id="user" class="form-control m10" required> -->
                <select name="condition" id="user" class="m10 form-select" aria-label="Default select example" required>
                  <option value="New Cars">New Cars</option>
                  <option value="Used Cars">Used Cars</option>
                </select>
              </div>
              <div class="col-sm-2 pr0">
                <label for="make" class="m10 p7">Make<span class="red"> *</span></label>
              </div>
              <div class="col-sm-9">
                <!-- <input type="text" name="make" id="make" class="form-control m10" required> -->
                <select name="make" id="make" class="m10 form-select" aria-label="Default select example" required>
                  <option value="Acura">Acura</option>
                  <option value="Audi">Audi</option>
                  <option value="BMW">BMW</option>
                  <option value="BUICK">BUICK</option>
                </select>
              </div>
              <div class="col-sm-2 pr0">
                <label for="model" class="m10 p7">Model<span class="red"> *</span></label>
              </div>
              <div class="col-sm-9">
                <!-- <input type="text" name="model" id="model" class="form-control m10" required> -->
                <select name="model" id="model" class="m10 form-select" aria-label="Default select example" required>
                  <option value="ATS">ATS</option>
                  <option value="ATS-V">ATS-V</option>
                  <option value="Allante">Allante</option>
                  <option value="Brougham">Brougham</option>
                </select>
              </div>
              <div class="col-sm-2 pr0">
                <label for="price" class="m10 p7">Price<span class="red"> *</span></label>
              </div>
              <div class="col-sm-9">
                <input type="number" name="price" id="price" class="form-control m10" required>
              </div>
              <div class="col-sm-2 pr0">
                <label for="distance" class="m10 p7">Distance<span class="red"> *</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" name="distance" id="distance" class="form-control m10" required>
              </div>
              <div class="col-sm-2 pr0">
                <label for="zip" class="m10 p7">Zip<span class="red"> *</span></label>
              </div>
              <div class="col-sm-9">
                <input type="number" name="zip" id="zip" class="form-control m10" maxlength="5">

              </div>
              <div class="col-sm-12 tDisplay text-center">
                <button type="submit" class="btn save"> <b>Save</b> </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>