body {
    display: grid;
    font-family: Inter var, Helvetica, Arial, sans-serif;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(-webkit-min-content, 1fr) auto;
    grid-template-rows: auto minmax(min-content, 1fr) auto;
    height: 100vh;
}

.bodys {
    color: #888;
    margin: 0;
}

#main {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

.global-header{
    position: relative;
}

.global-header:after {
    background-image: linear-gradient(-90deg, #00bfde, #532380);
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
}

.global-header li {
    align-items: center;
    display: flex;
    height: 24px;
    margin: 8px 0;
    width: 100%;
}
.global-header li.header-link {
    border: 0;
    height: auto;
    width: auto;    
    padding: 0 13px
}
.global-header li a {
    align-items: center;
    color: #212121;
    display: flex;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.global-header ul.header-links-wrapper {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: auto;
    height: auto;
    margin: 0;
    padding-bottom: 0;
    position: static;
    width: auto;
} 

.global-header .container{
    align-items: center;
    height: 52px;
    margin: 0 auto;
    max-width: 1170px;
}
.m70{
    margin-top: 70px;
    margin-bottom: 40px;
}
.header-logo {
    /* height: 31px; */
    height: auto;
    width: 71px;
    float: left;
    padding: 5px 0;
}
.sds-field{
    margin-bottom: 15px;
    /* width: 70%; */
}
.input-bor{
    padding: 25px !important;
    border-radius: 10px !important;
}
.color-text {
    color: #b0c;
    text-decoration: none;
}

.fb-bg{
    background-color:#1877f2 !important;
    color: #fff !important;
    font-weight: 600 !important;
    box-shadow:"0 1px 2pxrgba(54,64,67,.3),0 1px 3px 1pxrgba(54,64,67,.15)";
}

.gm-bg{
    background-color: #fff !important;
    color: #757575 !important;
    font-weight: 600 !important;
    border: 1px solid #9e9e9e !important;
    box-shadow:"0 1px 2pxrgba(54,64,67,.3),0 1px 3px 1pxrgba(54,64,67,.15)";
}

.sds-heading3{
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}

.con{
    padding: 20px 0;
    padding-left: 50px;
    border-left: 1px solid #ccc;
}

.medil{
    padding: 10% 0;
}

.app-bg{
    background-color: black !important;
    color: #fff !important;
    border: 1px solid #9e9e9e !important;
    font-weight: 600 !important;
    box-shadow:0 1px "2pxrgba(54,64,67,.3),0 1px 3px 1pxrgba(54,64,67,.15)" !important;
}

.header-logo img {
    border: 0;
}

.sds-button {
    margin-top: 20px;
    background-color: #532380;
    border: 0;
    color: #fff;
    transition: background-color .25s ease;
    font-size: 16px;
    height: 56px;
    padding: 0 32px;
    width: 80%;
    max-width: 275px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    line-height: 16px;
    outline: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.tDisplay{
    margin-top: 30px;
}

.m10{
    margin: 10px 0;
}

.icon{
    width: 20px;
    margin: 0 5px;
}

#noData{
    padding-top: 20px;
    color: #5d2481;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

#dele{
    border: none;
    background: none;
}

.add{    
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #541a79;
    font-weight: 600;
}
.red{
    color: red;
}
.p7{
    padding: 6px 0;
}

tbody, td, tfoot, th, thead, tr{
    vertical-align: middle;
}

.txtCenter{
    text-align: center;
}

.txtRight{
    text-align: right;
}

.save{
    margin-top: 15px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    background-image: linear-gradient(-90deg, #00bfde, #532380);
    color: #fff !important;
    font-weight: bold !important;
    margin-bottom: 15px !important;
}

.pr0{
    padding-right: 0 !important;
}

@media screen and (max-width: 830px) {
    .tDisplay {
        margin-top: 10px;
    }
    .m10{
        margin: 0;
    }
    .col-sm-9{
        margin-bottom: 15px !important;
    }

    .con{
        padding-left: 15px;
        border-left: none;
    }
}