body {
    display: grid;
    font-family: Inter var, Helvetica, Arial, sans-serif;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(-webkit-min-content, 1fr) auto;
    grid-template-rows: auto minmax(min-content, 1fr) auto;
    height: 100vh;
}

.bodys {
    color: #888;
    margin: 0;
}

#main {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

.global-header{
    position: relative;
}

.global-header:after {
    background-image: linear-gradient(-90deg, #00bfde, #532380);
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
}

.global-header li {
    align-items: center;
    display: flex;
    height: 24px;
    margin: 8px 0;
    width: 100%;
}
.global-header li.header-link {
    border: 0;
    height: auto;
    width: auto;    
    padding: 0 13px
}
.global-header li a {
    align-items: center;
    color: #212121;
    display: flex;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.global-header ul.header-links-wrapper {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: auto;
    height: auto;
    margin: 0;
    padding-bottom: 0;
    position: static;
    width: auto;
} 

.global-header .container{
    align-items: center;
    height: 52px;
    margin: 0 auto;
    max-width: 1170px;
}
.m70{
    margin-top: 70px;
    margin-bottom: 40px;
}
.header-logo {
    /* height: 31px; */
    height: auto;
    width: 71px;
    float: left;
    padding: 5px 0;
}
.sds-field{
    margin-bottom: 15px;
    width: 70%;
}
.input-bor{
    padding: 15px !important;
    border-radius: 10px !important;
}
.color-text {
    color: #b0c;
    text-decoration: none;
}

.header-logo img {
    border: 0;
}

.sds-button {
    margin-top: 20px;
    background-color: #532380;
    border: 0;
    color: #fff;
    transition: background-color .25s ease;
    font-size: 16px;
    height: 56px;
    padding: 0 32px;
    width: 80%;
    max-width: 275px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    line-height: 16px;
    outline: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.tDisplay{
    margin-top: 30px;
}

.m10{
    margin: 10px 0;
}

.icon{
    width: 20px;
}

.add{    
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #541a79;
}

.p7{
    padding: 6px 0;
}

tbody, td, tfoot, th, thead, tr{
    vertical-align: middle;
}

.txtCenter{
    text-align: center;
}

.txtRight{
    text-align: right;
}

.save{
    margin-top: 15px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
    background-image: linear-gradient(-90deg, #00bfde, #532380);
    color: #fff !important;
    font-weight: bold !important;
}